[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "1.40.9"
scikit-learn = "1.7.1"
polars = "1.32.3"

[dev-packages]
pytest = "8.4.1"
moto = {version = "==5.1.10", extras = ["s3", "ssm"]}
pyparsing = "3.2.3"
black = "25.1.0"
pip-audit = "2.9.0"

[requires]
python_version = "3.13"
python_full_version = "3.13.3"
